.comment-container {
    border: 2px solid black;
    align-items: center;
}

.comment-view {
    background-color: #8f8f8f;
    border: 2px solid red;
    display: flex;
    width: 60%;  
    margin: 0 20%;
}

.username {
    font-weight: bold;
    /* width: 50%; */
}

.comment-body {
    float: left;
    /* width: 50%; */
}

.timestamp {
    /* display: block; */
}